
<body>
    <h1 style="font-weight: bold;">Welcome Prajjwal Gurjar</h1> 
  <br><br>
    <!-- chip list -->
    <div>
    <h1> which is your hobby</h1>
        <mat-chip-listbox aria-label="Hobbies selection">
        
          <mat-chip-option>playing Cricket</mat-chip-option>
        
          <mat-chip-option>Reading Books</mat-chip-option>
        
          <mat-chip-option color="accent" selected>travelling</mat-chip-option>
        
          <mat-chip-option color="warn">dancing</mat-chip-option>
        
        </mat-chip-listbox>
        
        </div>
<br><br>
        <!-- divider concept -->
        <div>
              <h1>which is your fav front-end lang</h1>
            <mat-list>
          
                <mat-list-item>html</mat-list-item>
          
                <mat-divider></mat-divider>
          
                <mat-list-item>css</mat-list-item>
          
                <mat-divider></mat-divider>

                <mat-list-item>javascript</mat-list-item>
          
                <mat-divider></mat-divider>
          
            </mat-list>
          
          
          
          </div>
</body>


  